# Unity 기본 제외 파일
/[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/
/[Rr]ecordings/

# Visual Studio 관련 캐시
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 생성 파일
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# 빌드 산출물 제외
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics 파일
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Streaming Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# 업로드할 폴더 및 파일
!Assets/
!Packages/
!ProjectSettings/
!README.md